
@font-face {
  font-family: IconFont;      
  src: url('../fonts/iconfont-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Noto Sans TC";      
  src: url('../fonts/noto-sans-tc-375-550-normal.woff2') format('woff2');
  font-weight: 375 550;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
